root = "."

[build]
full_bin = "export `cat ./.env | xargs` && ./lilpapa"
cmd = "make build-server"
delay = 100
exclude_dir = [
  "assets",
  "tmp",
  ".db",
  ".blob",
  "node_modules",
]
exclude_file = [
    "papa.db",
]
exclude_regex = [".*_templ.go"]
exclude_unchanged = false
follow_symlink = false
include_dir = []
include_ext = ["go", "tpl", "tmpl", "templ", "html", "js", "css"]
kill_delay = "0s"
log = "build-errors.log"
send_interrupt = true
stop_on_error = true

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
time = false

[misc]
clean_on_exit = false
